<!DOCTYPE html>
<html>
<head>
	<title>Machine Information</title>
	<link rel="stylesheet" type="text/css" href="<%= bootstrap_css_path %>">
	<link rel="stylesheet" type="text/css" href="<%= index_css_path %>">
	<script src="<%= jquery_path %>"></script>
</head>
<body>
	<% all_info.each do |info| %>
	<div class="well">
	<div class="page-header">
		<h1 <%= "class=\"text-error\"" if info[:host_unreachable] %>><%= info[:name] %> <% unless info[:host_unreachable] %><small>As of <%= info[:date] %></small><% end %></h1>
	</div>
	<% unless info[:host_unreachable] %>
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td class="title-cell">Users Logged In</td>
				<td><%= info[:num_users] %></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td colspan="2"><h5>CPU Utilization</h5></td>
			</tr>
			<tr>
				<td class="title-cell">Total</td>
				<td><%= '%.2f' % (100.0 - info[:cpu_utilization_idle].to_f).to_s %>%</td>
			</tr>
			<tr>
				<td class="title-cell">User</td>
				<td><%= '%.2f' % info[:cpu_utilization_user] %>%</td>
			</tr>
			<tr>
				<td class="title-cell">System</td>
				<td><%= '%.2f' % info[:cpu_utilization_system] %>%</td>
			</tr>
			<tr>
				<td class="title-cell">System</td>
				<td><%= '%.2f' % info[:cpu_utilization_system] %>%</td>
			</tr>
			<tr>
				<td class="title-cell">Nice</td>
				<td><%= '%.2f' % info[:cpu_utilization_ni] %>%</td>
			</tr>
			<tr>
				<td class="title-cell">I/O Wait</td>
				<td><%= '%.2f' % info[:cpu_utilization_wa] %>%</td>
			</tr>
			<tr>
				<td class="title-cell">Hardware Interrupts</td>
				<td><%= '%.2f' % info[:cpu_utilization_hi] %>%</td>
			</tr>
			<tr>
				<td class="title-cell">Software Interrupts</td>
				<td><%= '%.2f' % info[:cpu_utilization_si] %>%</td>
			</tr>
			<tr>
				<td class="title-cell">Steal Time</td>
				<td><%= '%.2f' % info[:cpu_utilization_st] %>%</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td colspan="2"><h5>Processor</h5></td>
			</tr>
			<tr>
				<td class="title-cell">Name</td>
				<td><%= info[:processor_name] %></td>
			</tr>
			<tr>
				<td class="title-cell">Speed</td>
				<td><%= info[:processor_speed] %></td>
			</tr>
			<tr>
				<td class="title-cell">Number of real cores</td>
				<td><%= info[:processor_num_real_cores] %></td>
			</tr>
			<tr>
				<td class="title-cell">Number of virtual cores</td>
				<td><%= info[:processor_num_virt_cores] %></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td colspan="2"><h5>Load Averages</h5></td>
			</tr>
			<tr>
				<td class="title-cell">Last 1 minute</td>
				<td><%= info[:load_avg_01min] %></td>
			</tr>
			<tr>
				<td class="title-cell">Last 5 minutes</td>
				<td><%= info[:load_avg_05min] %></td>
			</tr>
			<tr>
				<td class="title-cell">Last 15 minutes</td>
				<td><%= info[:load_avg_15min] %></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td colspan="3"><h5>Cache</h5></td>
			</tr>
			<% info[:num_cache_levels].times do |level| %>
			<tr>
				<td rowspan="2" class="section">Level <%= level + 1 %></td>
				<td>Type</td>
				<td><%= info["lvl#{level + 1}_cache_type".to_sym] %></td>
			</tr>
			<tr>
				<td>Size</td>
				<td><%= info["lvl#{level + 1}_cache_size".to_sym] %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td colspan="2"><h5>Memory</h5></td>
			</tr>
			<tr>
				<td class="title-cell">Free</td>
				<td><%= info[:memory_free] %></td>
			</tr>
			<tr>
				<td class="title-cell">Total</td>
				<td><%= info[:memory_total] %></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td colspan="2"><h5>Processes</h5></td>
			</tr>
			<tr>
				<td class="title-cell">Total</td>
				<td><%= info[:processes_total] %></td>
			</tr>
			<tr>
				<td class="title-cell">Running</td>
				<td><%= info[:processes_num_running] %></td>
			</tr>
			<tr>
				<td class="title-cell">Sleeping</td>
				<td><%= info[:processes_num_sleeping] %></td>
			</tr>
			<tr>
				<td class="title-cell">Stopped</td>
				<td><%= info[:processes_num_stopped] %></td>
			</tr>
			<tr>
				<td class="title-cell">Zombie</td>
				<td><%= info[:processes_num_zombie] %></td>
			</tr>
		</tbody>
	</table>
	<% else %>
	<p>Host Unreachable</p>
	<% end %>
	</div>
	<% end %>
</body>
</html>